extends layout

block content

    h1 Pico y placa

    form(method="get")
        p Ingreso de parametros
        label Placa
        br
        input(id="pin" type="text" name="placaIn")
        button(
            type='submit'
            formaction="/validarpp"
        ) validar
    
    p placa: #{placaver}

    a(href='http://localhost:3000/') Regreso a: Inicio